/* FILEPATH: /c:/Users/jorda/OneDrive/Desktop/Website Test/style.css */

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* make the HTML and Body take up full screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: #c9c9c9;
    color: #333;
}

/* Style the Title */
header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the Nav bar */
nav {
    margin-left: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

/* Set a background color and font styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
/* Set the container to flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

/* Style the main content area */
main {
    display: flex;
    background-color: #fff;
    padding: 20px;
    flex: 1;
}

/* Style the blog post article*/
article {
    flex: 0 0 40%;
}

/* Style the footer */
footer {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
}

/* This is for the projects page */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    flex: 1 0 200px; /* This means each article will grow and shrink as needed, but won't be smaller than 200px */
    margin: 10px;
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
    padding: 20px;
    background-color: #cdf2fd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    align-self: start;
    min-height: 300px;
}

.projectLink {
    padding-top: 10px;
}